@model ProjectManagement.ViewModels.ProjectViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd style="word-break:break-word">
            <p>@Html.DisplayFor(model => model.Description)</p>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.From)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.From)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.To)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.To)
        </dd>
    </dl>

    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary", @style = "color:White;" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary", @style = "color:White;" })
    <hr />

    @if (!Model.Solutions.Any())
    {
        <div>No solution for this project</div>
        <hr />
    }
    else
    {
        <div class="col-md-8">@Html.ActionLink("Name", $"Details/{Model.Id}", new { sortOrder = ViewBag.NameSortParm }, new { @class = "text-info" })</div>
        <div class="col-md-4">@Html.ActionLink("State", $"Details/{Model.Id}", new { sortOrder = ViewBag.StateSortParm }, new { @class = "text-info" })</div>
    }


    @foreach (var solution in Model.Solutions)
    {
        <div class="col-md-12 jumbotron" style="margin: 5; padding:5;">
            <div class="col-md-8"> <h5>Name: @solution.Name</h5> </div>
            <div class="col-md-4"> <bold>@solution.State</bold> </div>
            <div class="col-md-8" style="overflow: hidden; text-overflow: ellipsis;"> Descripion: @solution.Description </div>
            <div class="col-md-4">
                @Html.ActionLink("Details", $"{Model.Id}/Solution/Details", new { id = solution.Id }, new { @class = "btn btn-primary", @style = "color:White;" })
                @Html.ActionLink("Edit", $"{Model.Id}/Solution/Edit", new { id = solution.Id }, new { @class = "btn btn-primary", @style = "color:White;" })
                @Html.ActionLink("Delete", $"{Model.Id}/Solution/Delete/", new { id = solution.Id }, new { @class = "btn btn-primary", @style = "color:White;" })
            </div>
        </div>
    }
</div>

@{
    if (Model.State != ProjectManagement.Data.Data.Enums.State.Done)
    {
        @Html.ActionLink("Add solution", $"{Model.Id}/Solution/Create", null, new { @class = "btn btn-primary", @style = "color:White;" });
        <hr />
    }
}


